@{
    string controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/M7_DataTransfer.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="text-center text-white">
            <h1 class="bg-primary mt-3 p-3">Olympic Countries</h1>
            @* show any message in TempData *@ 
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-success p-2">@TempData["message"]</h4>
            }
            @* show link to Favorites page unless on Favorites page *@ @if (controller != "Favorites")
            {
                var session = new OlympicSession(Context.Session); 
                int? count = session.GetMyCountryCount();
                @* if there are fave teams in session, display faves link *@ 
                @if (count.HasValue)
                {
                    <h5 class="bg-info p-2">
                        <a asp-controller="Favorites" asp-action="Index" class="text-white">My Favorite Teams</a> 
                        <span class="badge bg-light text-black">@count</span>
                    </h5>
                }          }
        </header> <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
